extends template.pug

block append scripts
    script(src='/web/js/views/manage-users.js')

block content

    // Variables -----------------------------------------------------------------------------------------------------------------------------------
    - var message;
    - var user;

    // Mixins --------------------------------------------------------------------------------------------------------------------------------------
    
    // User type for select -----------------------------------------------------------------
    mixin userTypeSelect(name, adminSelected, teacherSelected, researcherSelected, studentSelected, testerSelected, participantSelected)
        select(id=name name=name)
            option(value='Admin' selected=adminSelected) Admin
            option(value='Teacher' selected=teacherSelected) Teacher
            option(value='Researcher' selected=researcherSelected) Researcher
            option(value='Student' selected=studentSelected) Student
            option(value='Tester' selected=testerSelected) Tester
            option(value='Participant' selected=participantSelected) Participant

    // User row -----------------------------------------------------------------------------
    mixin userRow(user)
        .row 
            p.username= user.username

            p.user-type= user.usertype

            +userTypeSelect(user.username, 
                            user.usertype == 'Admin', 
                            user.usertype == 'Teacher', 
                            user.usertype == 'Researcher', 
                            user.usertype == 'Student', 
                            user.usertype == 'Tester', 
                            user.usertype == 'Participant')

            hr

    // Manage user form ---------------------------------------------------------------------
    mixin manageUserForm(users, usertype)

        -var formId = 'manage-' + usertype + '-users';

        if users.length > 0
            form.manage-user-form(id=formId action='/update-usertype' method='post')

                for user of users
                    +userRow(user)

                .form-field.last-field
                    .messages

                        for message of updateUsertypeError
                            p.error-message= message

                        for message of updateUsertypeSuccess
                            p.success-message= message
                    
                    input(type='submit' value='Update Users')
        else 
            p.manage-user-form.no-users-message(id=formId) No #{usertype} users

    // Webpage -------------------------------------------------------------------------------------------------------------------------------------

    // Title --------------------------------------------------------------------------------
    section#manage-users-title-container.title-container
        .content-container
            h1 Manage Users 
            
            hr

    // Create Users -------------------------------------------------------------------------
    section#create-users-container 
        .content-container

            h2 Create Users 
            i A default password of "password" will be assigned (this can be changed by the user later)

            // Create single user------------------------------------------------------------
            form#create-single-user(action='/new-create-user' method='post')
                
                if singleCreateError
                    p.error-message= singleCreateError

                if singleCreateSuccess
                    p.success-message= singleCreateSuccess

                .form-field
                    label.required-form-label Username 
                    input(type='text' name='username' placeholder='SuperFriend99' required)

                .form-field
                    label.required-form-label Usertype 
                    +userTypeSelect('usertype', true, false, false, false, false, false)

                .form-field.last-field.indented-field
                    input(type='submit' value='Create User')

            // Create bulk users ------------------------------------------------------------
            form#create-bulk-users(action='/new-bulk-create-users' method='post' enctype='multipart/form-data')

                .form-field
                    label or bulk create users by uploading a CSV file: 
                    input(type='file' name='userFile' accept='.csv' required)

                .instruction-container

                    p(style='margin-bottom:0') Please follow the following format for records: 
                        span
                            i username,usertype

                    p(style='margin-bottom:0') The acceptable usertypes are:

                    ul
                        li Admin
                        li Teacher
                        li Researcher
                        li Student
                        li Participant
                        li Tester

                    p(style='margin-bottom:0') See example file 
                        a.link-icon(href='/sample-upload-file' target='_blank') here

                .form-field.last-field
                    input(type='submit' value='Create Users')

            for message of bulkCreateError
                p.error-message= message

            for message of bulkCreateSuccess
                p.success-message= message

    // Manage Users -------------------------------------------------------------------------
    section#manage-users-container

        // Top bar --------------------------------------------------------------------------
        #manage-users-top-bar-container.top-bar-container
            #manage-users-top-bar.top-bar

                // Tabs ---------------------------------------------------------------------
                #manage-users-tabs.top-bar-tabs
                        
                    #admin-users-tab.tab.selected-tab(onclick='displayUsers("admin")')
                        h3 Admins

                    #teacher-users-tab.tab(onclick='displayUsers("teacher")')
                        h3 Teachers

                    #researcher-users-tab.tab(onclick='displayUsers("researcher")')
                        h3 Researchers

                    #student-users-tab.tab(onclick='displayUsers("student")')
                        h3 Students

                    #tester-users-tab.tab(onclick='displayUsers("tester")')
                        h3 Testers

                    #participant-users-tab.tab(onclick='displayUsers("participant")')
                        h3 Participants

        // Users ----------------------------------------------------------------------------
        #users-container    
            .content-container

                +manageUserForm(adminUsers, 'admin')
                +manageUserForm(teacherUsers, 'teacher')
                +manageUserForm(researcherUsers, 'researcher')
                +manageUserForm(studentUsers, 'student')
                +manageUserForm(testerUsers, 'tester')
                +manageUserForm(participantUsers, 'participant')

                script.
                    displayUsers("admin");
