extends ../template.pug

block append scripts
    script(src='/web/js/views/CENTRAL_SERVER/homepage.js')

block content

    // Variables -----------------------------------------------------------------------------------------------------------------------------------
    - var year;
    - var article;

    // Mixins --------------------------------------------------------------------------------------------------------------------------------------
    mixin displayNewsArticle(article)
        - var articleClass = 'news-year-' + article.year;
        - var altText = article.title + "'s image";
        
        .news-article(class=articleClass).hidden-article

            img(src=article.photo alt=altText)

            .article-description

                h2= article.title

                h3= article.monthDay
                    span , 
                    span= article.year

                p= article.description

                a.link-icon(href=article.link target='_blank') Read more

    // Webpage -------------------------------------------------------------------------------------------------------------------------------------
    main 

        // Banner ---------------------------------------------------------------------------
        section#homepage-banner-container
            #homepage-title
                .content-container 

                    // Title ------------------------------------------------------------------------
                    h1 uni-VR-sity

                    // Description ------------------------------------------------------------------
                    #intro-description
                        p WebXR learning framework and research project that explores multi-learner and multi-platform
                        p (Desktop, Mobile, and HMD) learning affordances

            // Page Navigation --------------------------------------------------------------
            #homepage-navigation-container.top-bar-container
                .top-bar
                    
                    .top-bar-tabs
                        .tab 
                            a(href='#About') About 

                        .tab 
                            a(href='#Showroom') Showroom 

                        .tab 
                            a(href='#Development') Development 

                        .tab 
                            a(href='#News') News 

                        .tab 
                            a(href='#Project-Team') Project Team

        // About ----------------------------------------------------------------------------
        section#About 
            .content-container 
                
                h1 Educational VR Framework

                #about-description

                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper. Duis autem vel eum iriure. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.

                    #video-container
                        iframe(src='https://player.vimeo.com/video/326387226' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)

                #logos-container 
                    a(href="https://img.csit.carleton.ca/#projects/0/UNI-VR-SITY" target='_blank')
                        img#iMG-logo(src='/web/images/logos/iMG-logo.png' alt="iMG Logo")

                    a(href="https://circlesxr.com/" target='_blank')
                        img#circles-logo(src='/web/images/logos/circles-logo.svg' alt="CirclesXR Logo")

                    a(href="https://carleton.ca/" target='_blank')
                        img#carletonU-logo(src='/web/images/logos/carletonU-logo.png' alt="Carleton University Logo")

        // Showroom -------------------------------------------------------------------------
        section#Showroom 
            .content-container 

                h1 Featured Circles

                #circles-scroll-container.scroll-gallery-container

                    #left-arrow.arrow
                        .icon-container 
                            i(class='fa-solid fa-chevron-left' onclick='changeScrollGalleryPage("circles-scroll-container", -1)')

                    .featured-circle.scroll-gallery-item
                        img.gallery-item-image
                        p.gallery-item-name
                    
                    .featured-circle.scroll-gallery-item
                        img.gallery-item-image
                        p.gallery-item-name

                    .featured-circle.scroll-gallery-item
                        img.gallery-item-image
                        p.gallery-item-name

                    .featured-circle.scroll-gallery-item 
                        img.gallery-item-image
                        p.gallery-item-name

                    #right-arrow.arrow
                        .icon-container 
                            i(class='fa-solid fa-chevron-right' onclick='changeScrollGalleryPage("circles-scroll-container", 1)')

                - var featuredCirclesJSON = JSON.stringify(featuredCircles);
                - var featuredCirclesJSON = featuredCirclesJSON.replaceAll(/'/gm, /\'/gm);

                script.
                    setUpScrollGallery('!{featuredCirclesJSON}', 4, 'circles-scroll-container');

        // Development ----------------------------------------------------------------------
        section#Development 
            .content-container

                #development-description-container 

                    #development-description 
                        
                        h1 Development 

                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

                    #video-container
                        iframe(src='https://player.vimeo.com/video/326387226' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)

                #development-links

                    a(href='' target='_blank')#documentation-link.link-icon-section
                        
                        .icon-container 
                            i(class='fa-regular fa-file-lines')
                        
                        p Documentation 

                    a(href='' target='_blank')#github-link.link-icon-section

                        .icon-container 
                            i(class='fa-brands fa-github')
                        
                        p GitHub

        hr.section-divider
        
        // News -----------------------------------------------------------------------------
        section#News 
            .content-container

                h1 News 

                #news-years-container 

                    for year of newsYears
                        - var buttonClass = year + '-news-button';

                        .news-year(class=buttonClass)
                            a(onclick='displayNewsYear(' + year + ')')= year
                        
                #news-articles-container 
                    
                    for article of news
                        +displayNewsArticle(article)

                script.
                    displayNewsYear('!{newsYears[0]}');

        hr.section-divider

        // Project Team ---------------------------------------------------------------------
        section#Project-Team 
            .content-container 

                h1 Project Team

                #team-scroll-container.scroll-gallery-container

                    #left-arrow.arrow
                        .icon-container 
                            i(class='fa-solid fa-chevron-left' onclick='changeScrollGalleryPage("team-scroll-container", -1)')

                    .team-member.scroll-gallery-item
                        img.gallery-item-image
                        h2.gallery-item-name
                        p.gallery-item-secondary-info
                    
                    .team-member.scroll-gallery-item
                        img.gallery-item-image
                        h2.gallery-item-name
                        p.gallery-item-secondary-info

                    .team-member.scroll-gallery-item
                        img.gallery-item-image
                        h2.gallery-item-name
                        p.gallery-item-secondary-info

                    .team-member.scroll-gallery-item
                        img.gallery-item-image
                        h2.gallery-item-name
                        p.gallery-item-secondary-info

                    #right-arrow.arrow
                        .icon-container 
                            i(class='fa-solid fa-chevron-right' onclick='changeScrollGalleryPage("team-scroll-container", 1)')

                - var projectTeamJSON = JSON.stringify(projectTeam);
                - var projectTeamJSON = projectTeamJSON.replaceAll(/'/gm, /\'/gm);

                script.
                    setUpScrollGallery('!{projectTeamJSON}', 4, 'team-scroll-container');

    include ../includes/footer.pug