extends ../template.pug

block content

    // Variables -----------------------------------------------------------------------------------------------------------------------------------
    - var game;
    - var line;
    - var paragraph;
    - var moreInformation

    // Mixins --------------------------------------------------------------------------------------------------------------------------------------

    // Game display -------------------------------------------------------------------------
    mixin displayGame(game)
        - var gameId = game.name.replaceAll(' ', '-');
        - var imageSrc = '/web/views/CENTRAL_SERVER/museum-game-images/' + game.image;

        .game(onclick='openOverlay("' + gameId + '")')
            img(src=imageSrc alt=altText)

            b.title= game.name

            i.platform= game.platform

            p= game.credit

        .game-description-overlay.overlay-container(id=gameId)
            .overlay 

                .game-title-container
                    img(src=imageSrc alt=altText)

                    h3= game.name 
                    p= game.credit

                    .game-link
                        a(href=game.link).link-icon=game.link

                    .icon-container
                        i(class="fa-solid fa-xmark" onclick='closeOverlay("' + gameId + '")')

                .game-description 
                    for paragraph of game.description.split('\n\n')
                        ul.paragraph 
                            for line of paragraph.split('\n')
                                if line.includes('<subtitle>')
                                    i= line.split('<subtitle>')[1]
                                else if line.includes('<list>')
                                    li= line.split('<list>')[1]
                                else 
                                    p= line

                    b Playing Instructions: 
                    for paragraph of game.instructions.split('\n\n')
                        ul.paragraph 
                            for line of paragraph.split('\n')
                                if line.includes('<subtitle>')
                                    i= line.split('<subtitle>')[1]
                                else if line.includes('<list>')
                                    li= line.split('<list>')[1]
                                else 
                                    p= line

                    if game.contact
                        b Contact the Developer(s): 
                        for paragraph of game.contact.split('\n\n')
                            ul.paragraph 
                                for line of paragraph.split('\n')
                                    if line.includes('<subtitle>')
                                        i= line.split('<subtitle>')[1]
                                    else if line.includes('<list>')
                                        li= line.split('<list>')[1]
                                    else 
                                        p= line

                    if game.other 
                        for moreInformation of game.other 
                            b= moreInformation.title 

                            for paragraph of moreInformation.description.split('\n\n')
                                ul.paragraph 
                                    for line of paragraph.split('\n')
                                        if line.includes('<subtitle>')
                                            i= line.split('<subtitle>')[1]
                                        else if line.includes('<list>')
                                            li= line.split('<list>')[1]
                                        else 
                                            p= line

    // Webpage -------------------------------------------------------------------------------------------------------------------------------------
    main 

        // Title ----------------------------------------------------------------------------
        section#museum-title-container.title-container
            .content-container 

                h1 Museum Games

                a(href='https://ingeniumcanada.org/scitech/events/march-break-at-the-museum').link-icon Check out the event
            
        // Games ----------------------------------------------------------------------------
        section#museum-games 
            .content-container 

                for game of games
                    +displayGame(game)

    include ../includes/footer.pug