extends layout.pug

block append stylesheets
    link(rel="stylesheet" type="text/css" href="/web/css/vendor/color-picker.css")


block content
    - var adminUser               = CIRCLES.USER_CATEGORIES.ADMIN_USERS.includes(userInfo.userType);
    - var managerUser             = CIRCLES.USER_CATEGORIES.MANAGER_USERS.includes(userInfo.userType);
    - var standardUser            = CIRCLES.USER_CATEGORIES.STANDARD_USERS.includes(userInfo.userType);
    - var guest                   = userInfo.userType === CIRCLES.USER_TYPE.GUEST;
    - var magicGuest              = userInfo.userType === CIRCLES.USER_TYPE.MAGIC_GUEST;
    - var world;

    // Updating session display name ------------------------------------------------------------------------------------------------------------------------------------------------------------
    
    form(action="/update-session-name" method="post" class="pure-form pure-form-aligned")
        fieldset
            .pure-left-control-group
                label(style='white-space:nowrap') Session Display Name
                    span.top-tooltip <i class="fa-solid fa-circle-info"></i>
                        p.top-tooltip-text(style='width:310px;margin-left:-155px;') Set your display name for this session. Change it permanently on the Profile page
                    input.field-long(type='text' name='sessionName' placeholder='SuperFriend99' style='margin:0 10px 0 30px' value=sessionName)
                    span 
                        input(type='submit' value='Set Name' class='pure-button pure-button-primary')

        if successMessage
            div(style='margin:20px 0 10px 0')
                i(class='fa-solid fa-circle-check success-icon')
                span.success-message #{successMessage}

        if errorMessage
            div(style='margin:20px 0 10px 0')
                i(class='fa-solid fa-triangle-exclamation error-icon')
                span.error-message #{errorMessage}

    // Updating session avatar ------------------------------------------------------------------------------------------------------------------------------------------------------------------
    
    div(style='margin:20px 0 30px 0;')
        p(style='display:inline-block;') Customize avatar appearance for the session: 
        a(class="pure-button worldList" style='margin:0 8px 0 15px; vertical-align:middle;' href='/w/Wardrobe') Wardrobe
        span.right-tooltip <i class="fa-solid fa-circle-info"></i>
            p.right-tooltip-text(style='width:auto;white-space:nowrap') Change it permanently on the Profile page

    br
    br

    // Circles ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    // Top bar
    div#circles-bar.table-top-bar

        // Magic circles
        if magicGuest
            h3#magic-circles(onclick='showCirclesSection("magic-circles")') Magic Circles

        // Your circles
        if adminUser || managerUser || standardUser
            h3#your-circles(onclick='showCirclesSection("your-circles")') Your Circles

        // Public circles
        h3#public-circles(onclick='showCirclesSection("public-circles")') Public Circles

        // Editable
        if adminUser || managerUser
            h3#editable-circles(onclick='showCirclesSection("editable-circles")') Editable Circles

    // Magic circles container
    if magicGuest

        div#magic-circles-container.table-container

    // Your circles container
    if adminUser || managerUser || standardUser

        div#your-circles-container.table-container

            // Group selectors
            div.table-group-selector

                // Groups
                select#your-groups(name='your-groups')
                    option(value='all') All
                    option(value='Group1') Group 1
                    option(value='Group2') Group 2

            script.
                document.getElementById('your-groups').addEventListener('change', function(event)
                {
                    console.log(event.target.value);
                });

            // Worlds
            //div.table-content

                if userWorlds.length > 0
                    for world of userWorlds
                        - var worldUrl = '/w/' + world;  // Making url to world
                        li 
                            a(class="pure-button worldList" href=worldUrl)= world

    // Public circles container
    div#public-circles-container.table-container

        // Group selectors
        div.table-group-selector

            // Groups
            select#public-groups(name='public-groups')
                option(value='all') All
                option(value='Group1') Group 1
                option(value='Group2') Group 2

        // Worlds
        //div.table-content

            if publicWorlds.length > 0
                for world of publicWorlds
                    - var worldUrl = '/w/' + world;  // Making url to world
                    li 
                        a(class="pure-button worldList" href=worldUrl)= world

    // Editable circles container
    if adminUser || managerUser

        div#editable-circles-container.table-container

            // Group selectors
            div.table-group-selector

                // Groups
                select#editable-groups(name='editable-groups')
                    option(value='Group1') All
                    option(value='Group1') Public
                    option(value='Group1') Private

            // Worlds
            //div.table-content

                if editableWorlds.length > 0
                    for world of editableWorlds
                        - var worldUrl = '/w/' + world;  // Making url to world
                        li 
                            a(class="pure-button worldList" href=worldUrl)= world

    script.
        selectCircleGroup('#{userInfo.userType}');