extends layout.pug

block append stylesheets
    link(rel="stylesheet" type="text/css" href="/web/css/OLD/vendor/color-picker.css")

block content
    - var link;
    - var visibleURL;
    - var targetURL;
    - var daysUntilExpired;
    - var world;
    - var deleteURL;
    - var renewURL;
    - var formID

    h1 Your Magic Links

    hr

    if successMessage
        div(style='margin:20px 0 10px 0')
        i(class='fa-solid fa-circle-check success-icon')
        span.success-message #{successMessage}

    if errorMessage
        div(style='margin:20px 0 10px 0')
        i(class='fa-solid fa-triangle-exclamation error-icon')
        span.error-message #{errorMessage}

    br
    br
    br

    if magicLinks.length > 0
    
        // Displaying all magic links
        for link of magicLinks

            div.link-wrapper(id=link.forwardLink)

                h2(style='display:inline-block') #{link.forwardLink}

                table.circles-link-table
                    tbody
                        tr
                            td.link-info
                                - visibleURL = baseURL + '/' + link.forwardLink;
                                - targetURL = '/' + link.forwardLink;
                                a(target='_blank' href=targetURL)= visibleURL
                                    span 
                                        i(class="fa-solid fa-angle-right fa-xs link-arrow")

                                if link.expires

                                    // Calculating when link will expire
                                    // https://www.geeksforgeeks.org/how-to-calculate-the-number-of-days-between-two-dates-in-javascript/
                                    - daysUntilExpired = link.expiryDate - new Date();
                                    - daysUntilExpired = Math.floor(daysUntilExpired / (1000 * 3600 * 24));

                                    // If it expires in more then a week: Green text
                                    // If it expires within the week: Red text
                                    // If it never expires: Green text
                                    if daysUntilExpired >= 8
                                    
                                        i(style='color:green') Expires in #{daysUntilExpired} days

                                    if daysUntilExpired > 0 && daysUntilExpired < 8
                                    
                                        i(style='color:red') Expires in #{daysUntilExpired} days

                                    else if daysUntilExpired === 0

                                        i(style='color:red') Expires today

                                    else if daysUntilExpired < 0

                                        i(style='color:red') Expired

                                else 

                                    i(style='color:green') Never expires
                                
                            td.link-worlds
                                p Circles: 
                                
                                ul 
                                for world of link.worlds

                                    li= world

                            td.link-control

                                div
                                    - deleteURL = '/delete-magic-link/' + link.forwardLink;
                                    a(class="pure-button" onclick='checkOtherButtons("' + link.forwardLink + '", "renew"), renewLink("' + link.forwardLink + '")') Renew
                                    a(class="pure-button" onclick='checkOtherButtons("' + link.forwardLink + '", "delete"), doubleCheckDelete_TableView("' + deleteURL + '", "link")') Delete

                - formID = 'renew:' + link.forwardLink;
                div.confirm-wrapper(id=formID style='display:none')

                    - renewURL = '/renew-magic-link/' + link.forwardLink;
                    form(action=renewURL method="post" class='pure-form pure-form-aligned')

                        div.link-renewal-form

                            .pure-left-control-group(style='margin:0; display:inline-block')
                                - let n = 1;
                                - let selected = false;
                                - let val = 1;
                                label Select Expiry in Days
                                select(name='linkExpiry' id='linkExpiry')
                                    while n < 365
                                        - val = n++;
                                        - selected = (val === 7)
                                        option(value!= val, selected!= selected)!= val
                                        - selected = false
                                    option(value='never') Never

                            span
                                input(type='submit' class="pure-button pure-button-primary" value='Renew')
                                a(class="pure-button worldList" onclick='cancelRenewLink("' + link.forwardLink + '")') Cancel

                hr

    else

        // Displaying message that the user has no magic links
        p(style='text-align:center') You currently have no magic links made