extends layout.pug

block append stylesheets
  link(rel="stylesheet" type="text/css" href="/web/css/vendor/color-picker.css")

block content
    - var user;
    - var message;

    h1 Manage Users

    hr
    br
    br

    h2 Create Users

    p(style='font-style:italic;margin-bottom:5') A default password of "password" will be assigned (this can be changed by the user later)

    form(action='/create-user' method='post' class='pure-form pure-form-aligned' style='margin-bottom:25')
        fieldset
        .pure-left-control-group
            label Username 
                span.required *
            input.field-long(type='text', name='username', placeholder='SuperFriend99')
        .pure-left-control-group
            label User Type 
                span.required *
            select.field-select(name='usertype' style='width:13.5em')!= usertypes

        .pure-controls
            input(type='submit' value='Create User' class='pure-button pure-button-primary')

    if successMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-circle-check success-icon')
            span.success-message #{successMessage}

    if errorMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-triangle-exclamation error-icon')
            span.error-message #{errorMessage}

    br

    form(action='/bulk-create-users' method='post' enctype='multipart/form-data' class='pure-form')

        label or bulk create users by uploading a CSV file: 
        input(name='userFile' type='file' accept='.csv')

        div(style='margin:15 0 25 0').instruction-box

            p(style='margin-bottom:0') Please follow the following format for records: 
                span(style='font-style:italic;margin-bottom:5') username,usertype
            p(style='margin-bottom:0') The acceptable usertypes are:

            ul.user-type-list
                li Admin
                li Teacher
                li Researcher
                li Student
                li Participant
                li Tester

            p(style='margin-bottom:0') See example file 
                a(href='/sample-upload-file' target='_blank') here

        input(type='submit' value='Create Users' class='pure-button pure-button-primary')

    for message of Bulk_SuccessMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-circle-check success-icon')
            span.success-message= message

    for message of Bulk_ErrorMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-triangle-exclamation error-icon')
            span.error-message= message

    br
    br

    h2 Admins

    p(style='margin-bottom:0') Admin users can:

    ul.user-type-list
        li View and edit all worlds
        li Create and send magic links to all worlds
        li Grant viewing and editing access to all worlds
        li Create and send magic links for all worlds
        li Change the user type of users
        li Create users

    form(action='/change-usertype' method='post' class='pure-form pure-form-aligned' style="margin:25 0")
        table.pure-table.profile-table.gutter-bottom-doubled(style="margin-bottom:0px")
                thead
                    tr
                        th User
                        th Current Type
                        th Update Type
                tbody
                    for user of A_Users
                        tr
                            td= user.username
                            td= user.usertype 
                            td 
                                select.field-select(name=user.username style='width:11em')!= user.usertypesList

        .pure-controls(style='margin-top:25')
        input(type='submit' value='Update Users' class='pure-button pure-button-primary')

    for message of A_SuccessMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-circle-check success-icon')
            span.success-message= message

    for message of A_ErrorMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-triangle-exclamation error-icon')
            span.error-message= message
        
    br
    br

    h2 Teachers and Researchers

    p(style='margin-bottom:0') Teacher and researcher users can:

    ul.user-type-list
        li View worlds that have no viewing restrictions
        li View worlds that they have been given access to
        li Grant viewing and editing access to worlds that they have editing access to
        li Create and send magic links for worlds they have editing access to

    form(action='/change-usertype' method='post' class='pure-form pure-form-aligned' style="margin:25 0")
        table.pure-table.profile-table.gutter-bottom-doubled(style="margin-bottom:0px")
                thead
                    tr
                        th User
                        th Current Type
                        th Update Type
                tbody
                    for user of T_R_Users
                        tr
                            td= user.username
                            td= user.usertype 
                            td 
                                select.field-select(name=user.username style='width:11em')!= user.usertypesList 

        .pure-controls(style='margin-top:25')
        input(type='submit' value='Update Users' class='pure-button pure-button-primary')

    for message of T_R_SuccessMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-circle-check success-icon')
            span.success-message= message

    for message of T_R_ErrorMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-triangle-exclamation error-icon')
            span.error-message= message

    br
    br

    h2 Students, Participants, and Testers

    p(style='margin-bottom:0') Student, participant, and tester users can:

    ul.user-type-list
        li View worlds that have no viewing restrictions
        li View worlds that they have been given access to

    form(action='/change-usertype' method='post' class='pure-form pure-form-aligned' style="margin:25 0")
        table.pure-table.profile-table.gutter-bottom-doubled(style="margin-bottom:0px")
                thead
                    tr
                        th User
                        th Current Type
                        th Update Type
                tbody
                    for user of S_P_T_Users
                        tr
                            td= user.username
                            td= user.usertype 
                            td 
                                select.field-select(name=user.username style='width:11em')!= user.usertypesList

        .pure-controls(style='margin-top:25')
        input(type='submit' value='Update Users' class='pure-button pure-button-primary')

    for message of S_P_T_SuccessMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-circle-check success-icon')
            span.success-message= message

    for message of S_P_T_ErrorMessage
        div(style='margin-bottom:0')
            i(class='fa-solid fa-triangle-exclamation error-icon')
            span.error-message= message