extends layout.pug

block append stylesheets
  link(rel="stylesheet" type="text/css" href="/web/css/vendor/color-picker.css")

block content
    - var server;
    - var world;

    h4(style='text-align:center') Take a look at the other Circles out there and what they have been working on!
    br
    br

    if circleServers.length > 0
        br

        // Displaying all Circles servers
        for server of circleServers

            div.server-wrapper
                h2 #{server.ownerName}'s Circles
                table.circles-server-table
                    tbody
                        thead
                            th.server-description Description
                            th.server-worlds Worlds
                        tr
                            td.server-description= server.description
                                if !server.description
                                    p No description avaliable
                                br
                                br
                                a(class="pure-button worldList" style='background-color:#0078e7; color:white; margin:0' target='_blank' href=server.link) Check It Out
                                
                            td.server-worlds 
                                    ul 
                                    for world of server.worlds

                                        li 
                                            <i class="fa-solid fa-circle fa-2xs"></i>
                                            span= world
                hr
    else 
        if errorMessage 
            // Displaying message that an error occured
            center
                i(class='fa-solid fa-triangle-exclamation fa-lg error-icon')
                span.error-message(style='padding-left:35px; font-weight:bold')=errorMessage
                p(style='padding-top:25px')=secondaryMessage

        else
            // Displaying message that there are no servers up at the moment
            p(style='text-align:center') Oops, no other Circles servers are available right now...
                                