extends layout.pug

block append stylesheets
    link(rel="stylesheet" type="text/css" href="/web/css/vendor/color-picker.css")

block content
    - var file;
    - var fileType;

    h1 Uploaded Content
  
    hr
    br
    br

    p Content uploaded here can be displayed within worlds. 2D content can be put up on whiteboards and 3D content can be showed off on loading points.

    br

    form(action='/upload-content' method='post' enctype='multipart/form-data' class='pure-form')

        // Getting valid file types to restrict the file upload form
        - var validFiles = '';

        for fileType of validText
            - validFiles += (fileType + ',');

        for fileType of validImages
            - validFiles += (fileType + ',');

        for fileType of validVideos
            - validFiles += (fileType + ',');

        for fileType of valid3D
            - validFiles += (fileType + ',');

        label Upload new content: 
        input(name='contentFile' type='file' accept=validFiles)
    
        div(style='margin:15 0 25 0').instruction-box

            p(style='margin-bottom:0') The acceptable file forms for 2D content are:
            br

            table.file-formats-table  
                thead 
                    tr 
                        td Text
                        td Images 
                        td Videos
                        td 3D Models
                tbody
                    tr
                        td
                            ul
                                for fileType of validText
                                    li #{fileType}

                        td 
                            ul
                                for fileType of validImages
                                    li #{fileType}

                        td  
                            ul
                                for fileType of validVideos
                                    li #{fileType}
                        
                        td
                            ul
                                for fileType of valid3D
                                    li #{fileType}

            br
            p(style='margin-bottom:0;font-style:italic;') Maximum file size: #{CIRCLES.CONSTANTS.MAX_FILE_UPLOAD_SIZE}MB

        input(type='submit' value='Upload' class='pure-button pure-button-primary')

    if successMessage
        div(style='margin:20px 0 10px 0')
            i(class='fa-solid fa-circle-check success-icon')
            span.success-message #{successMessage}

    if errorMessage
        div(style='margin:20px 0 10px 0')
            i(class='fa-solid fa-triangle-exclamation error-icon')
            span.error-message #{errorMessage}

    br
    hr

    if content.length > 0

        // Displaying the content the user has uploaded
        table.uploads-table
            tbody
                // Content displayed in rows of 3
                - var numRows = Math.ceil(content.length / 3);
                - for (var i = 0; i < numRows; i++)
                    tr
                        - for (var j = 0; j < 3; j++)

                            - var fileNum = (3 * i) + j
                            
                            // Ensuring that there is still content to display
                            if (fileNum < content.length)

                                // Displaying the content in the appropriate way depending on the file type
                                // 1. Image files (with img tag)
                                // 2. Video files (with video tag)
                                // 3. Text files (just displaying name of file)
                                if content[fileNum].category === 'image'

                                    td.file-table-section
                                        div.file-container
                                            - var url = '/uploads/' + content[fileNum].name;

                                            // If file does not have a height and width saved in the database, save it
                                            if content[fileNum].height && content[fileNum].width
                                                img(src=url) 
                                            else 
                                                img(id=content[fileNum].name src=url onload='getDimensions("' + content[fileNum].name + '")')

                                            div.file-description-hover(id='info'+content[fileNum].name)
                                                i(class="fa-regular fa-image file-icon")
                                                br
                                                p.fileName #{content[fileNum].displayName}
                                                br
                                                i(class="fa-solid fa-trash fa-lg delete-file" onclick='doubleCheckDelete_UploadFile("' + content[fileNum].name + '")')
                                            div.file-description-hover-delete(id='deleteConfirmation'+content[fileNum].name)
                                                i(class="fa-solid fa-trash")
                                                br
                                                p Delete this file?
                                                br
                                                a(class="pure-button no-delete-content" onclick='cancelDelete_UploadFile("' + content[fileNum].name + '")') Cancel
                                                - var deleteLink = '/delete-uploaded-content/' + content[fileNum].name;
                                                a(class="pure-button delete-content" href=deleteLink) Delete

                                else if content[fileNum].category === 'video'
                            
                                    td.file-table-section
                                        div.file-container(id='container:' + content[fileNum].name)
                                            - var url = '/uploads/' + content[fileNum].name;

                                            // If file does not have a height and width saved in the database, save it
                                            if content[fileNum].height && content[fileNum].width
                                                video(muted)
                                                    source(src=url) 
                                            else 
                                                video(id=content[fileNum].name muted onloadedmetadata='getDimensions("' + content[fileNum].name + '")')
                                                    source(src=url)

                                            div.file-description-hover(id='info'+content[fileNum].name)
                                                i(class="fa-solid fa-video file-icon")
                                                br
                                                p.fileName #{content[fileNum].displayName}
                                                br
                                                i(class="fa-solid fa-trash fa-lg delete-file" onclick='doubleCheckDelete_UploadFile("' + content[fileNum].name + '")')
                                            div.file-description-hover-delete(id='deleteConfirmation'+content[fileNum].name)
                                                i(class="fa-solid fa-trash")
                                                br
                                                p Delete this file?
                                                br
                                                a(class="pure-button no-delete-content" onclick='cancelDelete_UploadFile("' + content[fileNum].name + '")') Cancel
                                                - var deleteLink = '/delete-uploaded-content/' + content[fileNum].name;
                                                a(class="pure-button delete-content" href=deleteLink) Delete

                                else 

                                    td.other-file-type.file-table-section
                                        div.file-container
                                            i(class="fa-regular fa-file file-icon")
                                            br
                                            p.fileName #{content[fileNum].displayName}
                                            div.file-description-hover(id='info'+content[fileNum].name)
                                                i(class="fa-regular fa-file file-icon")
                                                br
                                                p.fileName #{content[fileNum].displayName}
                                                br
                                                i(class="fa-solid fa-trash fa-lg delete-file" onclick='doubleCheckDelete_UploadFile("' + content[fileNum].name + '")')
                                            div.file-description-hover-delete(id='deleteConfirmation'+content[fileNum].name)
                                                i(class="fa-solid fa-trash")
                                                br
                                                p Delete this file?
                                                br
                                                a(class="pure-button no-delete-content" onclick='cancelDelete_UploadFile("' + content[fileNum].name + '")') Cancel
                                                - var deleteLink = '/delete-uploaded-content/' + content[fileNum].name;
                                                a(class="pure-button delete-content" href=deleteLink) Delete

        script
            include includes/shortenNames.js

        script
            include includes/tableWidthAdjust.js

    else
        br
        p(style='text-align:center') You have no content uploaded