extends layout.pug

block append stylesheets
  link(rel="stylesheet" type="text/css" href="/web/css/OLD/vendor/color-picker.css")

block content
    - var permittedUser;
    - var restrictedUser;
    - var group;

    h1= world.displayName

    hr
    br
    br

    form(action="/update-world-group" method="post" class="pure-form pure-form-aligned")
        fieldset
            input(type='text' name='world' value=world.name style='display:none')

            .pure-left-control-group
                label Group

                select.field-select(id='currentGroup' name='group')
                    
                    option(value='No-Group' id='no-group' style='color:var(--GREY)') No Group

                    for group of allGroups
                        - selected = (group.name === world.group);
                        option(value!= group.name.replaceAll(' ', '-') selected!=selected)!= group.name
                        - selected = false;

            .pure-left-control-group
                label Subgroup
                select.field-select(id='currentSubgroup' name='subgroup')

            script.
                displaySubgroups('!{JSON.stringify(allGroups)}', '#{world.group}', '#{world.subgroup}');
                listenForGroupUpdate('!{JSON.stringify(allGroups)}', '#{world.group}');
                listenForSubgroupUpdate();

            .pure-controls(style='margin-top:30')
                input(type='submit' value='Update' class='pure-button pure-button-primary')

    h2 Viewing

    // Showing permitted users only if there are access restrictions on the world
    if world.viewingRestrictions
        p This world currently has 
            span(style="font-weight: bold") viewing restrictions
            span : Only users with 
            span(style="color: green; font-weight: bold") permitted access 
            span can see this world
        
        // Option to remove access restrictions on the world
        - var removeRestrictionsUrl = '/remove-restrictions/' + world.name;

        a(class="pure-button" style="font-weight:bold; margin-right:10px; color:red" href=removeRestrictionsUrl) Remove Viewing Restrictions
        span (This will allow all users to see the world)

        br
        br
        br

        table.pure-table.profile-table.gutter-bottom-doubled(style="margin-bottom:10px")
            thead
                tr
                    th User
                    th Type
                    th Access
                    th 
            tbody
                for permittedUser of world.viewingPermission
                    - var changeUrl = '/remove-viewing/' + world.name + '/' + permittedUser.username;
                    tr
                        td= permittedUser.username
                        td= permittedUser.usertype 
                        td(style="color: green; font-weight: bold") Permitted
                        td
                            a(class="pure-button" style="color:red; font-weight:bold" href=changeUrl) Remove Viewing

                for restrictedUser of world.viewingDenied
                    - var changeUrl = '/permit-viewing/' + world.name + '/' + restrictedUser.username;
                    tr
                        td= restrictedUser.username
                        td= restrictedUser.usertype 
                        td(style="color: red; font-weight: bold") Restricted
                        td
                            a(class="pure-button" style="color:green; font-weight:bold" href=changeUrl) Permit Viewing

        p(style='font-style:italic') Users that have editing permissions will not be in this list

        br
        br

    else
        p This world currently has 
            span(style="font-weight:bold") no viewing restrictions
            span : All users can see this world

        // Option to put access restrictions on the world
        - var putRestrictionsUrl = '/put-restrictions/' + world.name;

        a(class="pure-button" style="font-weight:bold; margin-right:10px; color:green" href=putRestrictionsUrl) Put Viewing Restrictions
        span (This restricts which users can see the world)

        br
        br
        br
        br

    h2 Editing

    p Only users with  
        span(style="color:green; font-weight:bold") permitted access 
        span can edit restrictions for this world

    table.pure-table.profile-table.gutter-bottom-doubled
        thead
            tr
                th User
                th Type
                th Access
                th 
        tbody
            for permittedUser of world.editingPermission
                - var changeUrl = '/remove-editing/' + world.name + '/' + permittedUser.username;
                tr
                    td= permittedUser.username
                    td= permittedUser.usertype 
                    td(style="color:green; font-weight:bold") Permitted
                    td
                        a(class="pure-button" style="color:red; font-weight:bold" href=changeUrl) Remove Editing

            for restrictedUser of world.editingDenied
                - var changeUrl = '/permit-editing/' + world.name + '/' + restrictedUser.username;
                tr
                    td= restrictedUser.username
                    td= restrictedUser.usertype 
                    td(style="color:red; font-weight:bold") Restricted
                    td
                        a(class="pure-button" style="color:green; font-weight:bold" href=changeUrl) Permit Editing